# Ignore virtual environments
venv/
env/
.venv/

# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class

# Ignore IDE specific files
.vscode/
.idea/

# Ignore all datasets and outputs
# Since datasets and generated features are huge (GBs), they must not be committed to GitHub
data/*
!data/README.md
outputs/
*.csv
*.tsv
*.gz
*.fa
*.pkl
*.model

# Ignore temporary files
.DS_Store
*.log
